<h2> <b>Accordion With Singularity</b></h2>
<ngu-accordion>
  <ngu-accordion-body>
    <ngu-accordion-header>MyHeader1</ngu-accordion-header>
    <div class="myAccordion">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse laboriosam deleniti quaerat
        reiciendis! Sit totam, rem maxime eligendi consequatur ipsa eum nesciunt eaque sapiente
        consectetur consequuntur eos fugit ea tempore!
      </p>
    </div>
  </ngu-accordion-body>
  <ngu-accordion-body>
    <ngu-accordion-header>MyHeader2</ngu-accordion-header>
    <div class="myAccordion">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse laboriosam deleniti quaerat
        reiciendis! Sit totam, rem maxime eligendi consequatur ipsa eum nesciunt eaque sapiente
        consectetur consequuntur eos fugit ea tempore!
      </p>
    </div>
  </ngu-accordion-body>
</ngu-accordion>
<h2>
  <b>Accordion Without Singularity</b>
</h2>
<ngu-accordion [singular]="false">
  <ngu-accordion-body>
    <ngu-accordion-header>MyHeader1</ngu-accordion-header>
    <div class="myAccordion">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse laboriosam deleniti quaerat
        reiciendis! Sit totam, rem maxime eligendi consequatur ipsa eum nesciunt eaque sapiente
        consectetur consequuntur eos fugit ea tempore!
      </p>
    </div>
  </ngu-accordion-body>
  <ngu-accordion-body>
    <ngu-accordion-header>MyHeader2</ngu-accordion-header>
    <div class="myAccordion">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse laboriosam deleniti quaerat
        reiciendis! Sit totam, rem maxime eligendi consequatur ipsa eum nesciunt eaque sapiente
        consectetur consequuntur eos fugit ea tempore!
      </p>
    </div>
  </ngu-accordion-body>
</ngu-accordion>
